<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{svg 'images/logo-footer.svg'}}
        <a href="https://www.hiebing.com/">Hiebing.com</a>
        <a href="mailto:im@hiebing.com">Contact</a>
        <span class="">&copy;{{year}} Hiebing</span>
      </div>
    </div>
  </div>
</footer>
