<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <br>
        <a class="btn btn-default" href="/#/">Main Page</a>
        <br><br>
        <a class="btn btn-primary" href="/#/me">Final Day</a>

        <br>
        <br>
        <br>
        <br>
        <p><small>&copy;{{year}} Hiebing</small></p>
      </div>
    </div>
  </div>
</footer>
