<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <a class="no-margin" href="https://www.hiebing.com/">{{svg 'images/logo-footer.svg'}}</a>
        <a href="mailto:jmilne@hiebing.com">Contact</a>
        <span class="">&copy;{{year}} Hiebing</span>
      </div>
    </div>
  </div>
</footer>
