{{#isProduction}}

{{!
  There is a gulp task defined to minify files.
  From the project's root run `gulp scripts` to
  have the main.min.js file generated from the
  contents of /public/app/.
}}
{{!-- <script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/components/angular-animate/angular-animate.js"></script>
<script src="/js/main.js"></script> --}}

{{else}}
{{/isProduction}}

{{!
  Deleopment depends, starting with the Angular controller
}}
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/components/angular-animate/angular-animate.js"></script>


{{!
  App modules first
}}
<script src="/app/common/exception/exception.module.js" ></script>
<script src="/app/common/logger/logger.module.js" ></script>
<script src="/app/app.js"></script>


{{!
  Common utilities next
}}
<script src="/app/common/exception/exception-handler.provider.js" ></script>
<script src="/app/common/exception/exception.js" ></script>
<script src="/app/common/logger/logger.js"></script>


{{!
  Finally the app and its depends
}}
<script src="/app/app.service.js"></script>
<script src="/app/grid/grid.controller.js"></script>
<script src="/app/feature/feature.controller.js"></script>
<script src="/app/feature/feature.service.js"></script>
<script src="/app/feature/feature.directive.js"></script>
<script src="/app/submission/submission.controller.js"></script>
<script src="/app/submission/submission.provider.js"></script>
<script src="/app/personal/personal.controller.js"></script>
<script src="/app/submission/capture.directive.js"></script>
<script src="/app/social/social.service.js"></script>
<script src="/app/social/social.directive.js"></script>


{{!
  Social Sharing
}}
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
{{!TODO evaluate if needed: }}
<script id="tumblr-js" async src="https://assets.tumblr.com/share-button.js"></script>



<div id="fb-root"></div>
	<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=7970714394";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
	<div id="content">
		Test Page
		<br />
		<br />
		<div id="content-button">
			<div class="fb-share-button" data-href="https://vast-beyond-5642.herokuapp.com/images/gifs/6-image.gif" data-layout="button"></div>
		</div>
		<br />
		Entry Form
	</div>
