{{#isProduction}}

{{!
  There is a gulp task defined to minify files.
  From the project's root run `gulp scripts` to
  have the main.min.js file generated from the
  contents of /public/app/.
}}
{{!-- <script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/components/angular-animate/angular-animate.js"></script>
<script src="/js/main.js"></script> --}}

{{else}}
{{/isProduction}}

{{!
  Deleopment depends, starting with the Angular controller
}}
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-route/angular-route.js"></script>
<script src="/components/angular-animate/angular-animate.js"></script>


{{!
  App modules first
}}
<script src="/app/common/exception/exception.module.js" ></script>
<script src="/app/common/logger/logger.module.js" ></script>
<script src="/app/app.js"></script>


{{!
  Common utilities next
}}
<script src="/app/common/exception/exception-handler.provider.js" ></script>
<script src="/app/common/exception/exception.js" ></script>
<script src="/app/common/logger/logger.js"></script>


{{!
  Finally the app and its depends
}}
<script src="/app/app.service.js"></script>
<script src="/app/grid/grid.controller.js"></script>
<script src="/app/feature/feature.controller.js"></script>
<script src="/app/feature/feature.service.js"></script>
<script src="/app/feature/feature.directive.js"></script>
<script src="/app/submission/submission.controller.js"></script>
<script src="/app/submission/submission.provider.js"></script>
<script src="/app/personal/personal.controller.js"></script>
<script src="/app/submission/capture.directive.js"></script>
<script src="/app/meta/meta.service.js"></script>
<script src="/app/meta/meta.directive.js"></script>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '7970714394',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<script>
document.getElementById('ogBtn').onclick = function() {
  FB.ui({
    display: 'popup',
    method: 'feed',
    name: 'Facebook Dialogs',
    link: 'https://vast-beyond-5642.herokuapp.com/#/day/6',
    href: 'https://vast-beyond-5642.herokuapp.com/#/day/6',
    picture: 'https://vast-beyond-5642.herokuapp.com/images/gifs/6-image.gif',
    caption: 'Reference Documentation',
    description: 'Dialogs provide a simple, consistent interface for applications to interface with users.'
  }, function(response){});
}
</script>


    <!-- Your share button code -->
    <div class="fb-share-button"
        data-href="https://vast-beyond-5642.herokuapp.com/#/day/6" 
        data-layout="button_count">
    </div>
