<section>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div id='main'>
  <div data-ng-view class="wrapper">
    <!-- Feature content here -->
  </div>
</div>

<div class="container container-gifsmas">
  <div class="row intro">
    <div class="col-sm-12 col-md-8">
      <h4>Only the Grinch would miss a GIF. Revisit your favorites or check back to see each new GIF as it’s revealed.</h4>
    </div>
    <div class="col-sm-12 col-md-4">
      <h5 class="text-center upper">Sharing is caring</h5>
      <div class="social-shares">
        <a href="https://facebook.com/" target="_blank" class="social-icon"><img src="/images/social-facebook.svg" alt="facebook"></a>
        <a href="https://instagram.com/" target="_blank" class="social-icon"><img src="/images/social-instagram.svg" alt="facebook"></a>
        <a href="https://twitter.com/" target="_blank" class="social-icon"><img src="/images/social-twitter.svg" alt="facebook"></a>
        <a href="https://pinterest.com" target="_blank" class="social-icon"><img src="/images/social-pinterest.svg" alt="facebook"></a>
      </div>
    </div>
  </div>


  <div data-ng-include="'app/grid/grid.html'" class="wrapper"></div>



</div>
</section>
