<div class="tree-left"><img src="/images/bkgd-right.png" alt="winter tree background" /></div>
<div class="tree-right"><img src="/images/bkgd-left.png" alt="winter tree background" /></div>
<div class="snow">
  <div id='main'>
    <div class="container">
      <div class="row rel">
        <div data-ng-view class="col-xs-12">
          <!-- Feature content here -->
        </div>
      </div>
    </div>
  </div>

  <div id="grid" class="container container-gifsmas">
    <div data-ng-include="'app/grid/grid.html'" data-ng-cloak class="wrapper"></div>
  </div>
</div>
