<div id='main'>
  <div class="container">
    <div class="wrapper rel">
    <div data-ng-view data-ng-animate-children>
      <!-- Feature content here -->
    </div>
  </div>
  </div>
</div>

<div class="container container-gifsmas">
  <div data-ng-include="'app/grid/grid.html'" data-ng-cloak class="wrapper"></div>
</div>
