<article class="{{vm.class}}">
  <div class="row rel">
    <div class="camera">
      <div class="blocker">

        <blockquote >
          <img data-ng-show="vm.src" data-ng-src="{{vm.src}}" />
        </blockquote>

      </div>
    </div>

    <div class="overlay" data-ng-if="vm.overlay == 1"><img src="/images/1.gif" /></div>
    <div class="overlay" data-ng-if="vm.overlay == 2"><img src="/images/2.gif" /></div>
    <div class="overlay" data-ng-if="vm.overlay == 3"><img src="/images/3.gif" /></div>
    <div class="overlay" data-ng-if="vm.overlay == 4"><img src="/images/4.gif" /></div>
    <div class="overlay" data-ng-if="vm.overlay == 5"><img src="/images/5.gif" /></div>

  </div>

  <div class="row intro">
    <div class="col-sm-12 col-md-8 col-heading">
      <div class="heading">
        <render-svg vm="vm"></render-svg>
        <h1>Hiebing Holiday Elfie</h1>
      </div>
      <h3>It’s the most GIF-tastic time of the year. Take your own Hiebing Holiday Elfie or check out all 12 Days of Gifsmas.</h3>
      <a class='btn btn-danger btn-lg' href="/me" >Make your own</a>
      <br>
      <br>
    </div>
    <div class="col-sm-12 col-md-4 col-social">
      <h6 class="text-center upper">Sharing is caring</h6>
      <div class="social-shares" data-ng-if="vm.appSvc.gif">
        <facebook-share gif="vm.appSvc.gif"></facebook-share>
        <twitter-share gif="vm.appSvc.gif"></twitter-share>
        <tumblr-share gif="vm.appSvc.gif"></tumblr-share>
        <pinterest-share gif="vm.appSvc.gif"></pinterest-share>
      </div>
    </div>
  </div>
</article>
