<div data-ng-controller="GridController as vm">

  <div class="row">
    <div class="gif rotate-in "  data-ng-repeat="a in vm.gifs | orderBy:'order' track by a.id ">

      <a class="active id{{a.id}}" data-ng-href="{{a.link}}" data-ng-click="vm.gif = a" data-ng-if="a.active">
        <div class="thumbnail">
        <img data-ng-src="{{a.thumbnail}}" alt="{{a.name}}" class='xthumbnail id{{a.id}}' />
        </div>
        <div class="blocker">
          <img src="/images/square.png" alt="Placeholder" class="spacer" />
          <img-number id="{{a.id}}"></img-number>
        </div>
      </a>
      <div class="inactive" data-ng-if="a.active==false">
        <div class="blocker">
          <img src="/images/square.png" alt="Placeholder" class="spacer" />
          <img-number id="{{a.id}}"></img-number>
        </div>
      </div>

    </div>
  </div>


  <div class="row">
    <!-- Leaving this here to remind me how to bind a value
    <span class="label label-primary">{{vm.selectedGif.name}}</span>
    -->
  </div>

</div>
