<div data-ng-controller="GridController as vm">

  <div class="row">
    <div class="gif rotate-in" data-ng-class="animation"  data-ng-repeat="a in vm.gifs | orderBy:'order' track by a.id ">
      <a class="" data-ng-href="#/day/{{a.id}}" data-ng-click="vm.selectedGif = a">
        <img data-ng-src="{{a.thumbnail}}" alt="{{a.name}}" />
        <div class="blocker">
          <img data-ng-src="/images/numbers/{{a.order}}.svg" />
        </div>
      </a>
    </div>
  </div>


  <div class="row">
    <!-- Leaving this here to remind me how to bind a value
    <span class="label label-primary">{{vm.selectedGif.name}}</span>
    -->
  </div>

</div>
