<div data-ng-controller="GridController as vm" >
    <h2 class="row">{{vm.title}} - $route, config, track by, order by, promises</h2>

    <div class="row btn-group">
        <a class="btn btn-default"
                data-ng-href="#/day/{{a.id}}"
                data-ng-repeat="a in vm.gifs track by a.name"
                data-ng-click="vm.selectedGif = a">{{a.name}}</a>
    </div>
    <div class="row">
        <span class="label label-primary">{{vm.selectedGif.name}}</span>
    </div>

    <div class="row">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <th>Name</th>
                <th>Description</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="a in vm.gifs | orderBy:'name' track by a.id ">
                    <td>{{a.name}}</td>
                    <td>{{a.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
