<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{title}}</h1>
      <h2>Your personal sandbox.</h2>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
