<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{title}}</h1>
      <h2>Your personal sandbox.</h2>


    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
      <a data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?description=Test%20Content&media=https://vast-beyond-5642.herokuapp.com/images/gifs/6-image.gif&url=https://vast-beyond-5642.herokuapp.com/#/day/7">
    <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
</a>








<button onclick="myFunction()">Try it</button>

<script>
function myFunction() {
    var myWindow = window.open("http://tumblr.com/widgets/share/tool?canonicalUrl=http://cats.com", "", "width=400, height=500");
}
</script>




https://www.tumblr.com/widgets/share/tool?posttype=photo&title=Test%20Title&content=https%3A%2F%2Fvast-beyond-5642.herokuapp.com%2Fimages%2Fgifs%2F6-small.gif&caption=Test%20Caption&canonicalUrl=https%3A%2F%2Fvast-beyond-5642.herokuapp.com%2F%23%2Fday%2F7&shareSource=tumblr_share_button

<a class="tumblr-share-button"
  href="https://www.tumblr.com/share" data-posttype="photo" data-title="Test Title" data-content="https://vast-beyond-5642.herokuapp.com/images/gifs/6-small.gif" data-caption="Test Caption" data-href="https://vast-beyond-5642.herokuapp.com/#/day/7" ></a>
<script id="tumblr-js" async src="https://assets.tumblr.com/share-button.js"></script>





      <a href=""></a>
      <a href=""></a>
    </div>
    <div class="col-sm-6">

    </div>
  </div>

</div>
