<!-- We need this view so that our animations can work, using Modernizr we'll
  populate capture-template based on the capabilities of the browser. I
  know this seems unnessary to but it's angularjs -->

<article class="{{vm.class}}" data-ng-controller="SubmissionController as vm" data-resize>
  <canvas id="baseCanvas">
    <!-- Temp storage for our image -->
  </canvas>

  <canvas id="cropCanvas">
    <!-- Temp storage for our image -->
  </canvas>
  <div class="row rel">
    <div class="camera">
      <div class="blocker">

        <video data-display-video='' id="baseVideo" controls="false">Video stream not available.</video>

        <blockquote>
          <img id="basePhoto" data-ng-if="vm.appSvc.src" data-ng-src="{{vm.appSvc.src}}" />
        </blockquote>
        <img src="/images/placeholder.jpg" alt="You picture will appear here." class="placeholder" id="placeholderImage" />
      </div>
    </div>

    <div class="overlay" data-ng-if="vm.appSvc.overlay == 1">
      <img src="/images/1.gif" />
    </div>
    <div class="overlay" data-ng-if="vm.appSvc.overlay == 2">
      <img src="/images/2.gif" />
    </div>
    <div class="overlay" data-ng-if="vm.appSvc.overlay == 3">
      <img src="/images/3.gif" />
    </div>
    <div class="overlay" data-ng-if="vm.appSvc.overlay == 4">
      <img src="/images/4.gif" />
    </div>
    <div class="overlay" data-ng-if="vm.appSvc.overlay == 5">
      <img src="/images/5.gif" />
    </div>

    <div class="error abs" data-ng-if="vm.appSvc.displayState == 'video.error'">
      <div>
        <div>
          <h2>Could not access camera.</h2>
          <h3>Please allow access and refresh the page or&nbsp;&nbsp;</h3>
          <a class='btn btn-default' data-ng-click='vm.displayState("upload.1")'>upload an existing photo</a>
        </div>
      </div>
    </div>
    <!-- End .error.abs -->

    <div class="error abs" data-ng-if="vm.appSvc.displayWrongFile">
      <div>
        <div>
          <h2>That doesn't look like any image format we know.</h2>
          <h3>Please try again.</h3>
        </div>
      </div>
    </div>

    <div class="intro abs" data-ng-if="vm.appSvc.displayUploadIntroxxx">
      <div>
        <div>
          <h2>Elfie 101 Tip: </h2>
          <h3>Hold your phone sideways and center yourself in the frame.</h3>
        </div>
        <a data-ng-click="vm.dismiss()" class="close">X</a>
      </div>
    </div>

    <div class="intro abs" data-ng-if="vm.appSvc.displayIntroxxx">
      <div>
        <h2>1. Select your holiday filter below 2. Snap a picture (you look great) 3. Send it to your BFF</h2>
      </div>
      <a data-ng-click="vm.dismiss()" class="close">X</a>
    </div>
    <!-- End .error.abs -->

    <!-- 1. Upload file (upload) -->
    <div class="intro abs" data-ng-if="vm.appSvc.displayState == 'upload.1'">
      <div class="interface">
        <div>
          <h2>1. Upload
            <small>a photo</small>
          </h2>
          <h3>Elfie pro tip: If you're on your phone hold your phone sideways and center yourself in the frame</h3>
          <input type='button' class="btn btn-danger btn-lg" data-disjointed-capture='' value="upload image" />
          <input id="fileCapture" type="file" data-capture-file="" data-ng-model="vm.theFile" />

        </div>
      </div>
    </div>


    <!-- 2. Choose your overlay (upload) -->
    <div class="intro abs" data-ng-if="vm.appSvc.displayState == 'upload.2'">
      <div class="interface">
        <div>
          <h2>1. Select
            <small>your filter</small>
          </h2>
          <div class="overlays">
            <a data-ng-click="vm.overlay(1)">
              <img src="/images/1-btn.png" />
              <span  class="hidden-xs">Put a bow on it</span>
            </a>
            <a data-ng-click="vm.overlay(2)">
              <img src="/images/2-btn.png" />
              <span class="hidden-xs">Elfie</span>
            </a>
            <a data-ng-click="vm.overlay(3)">
              <img src="/images/3-btn.png" />
              <span class="hidden-xs">Lump of Coal</span>
            </a>
            <a data-ng-click="vm.overlay(4)">
              <img src="/images/4-btn.png" />
              <span class="hidden-xs">Shiny red nose</span>
            </a>
            <a data-ng-click="vm.overlay(5)">
              <img src="/images/5-btn.png" />
              <span class="hidden-xs">Snowball battle scars</span>
            </a>
          </div>
          <a data-ng-show="vm.appSvc.continuable" data-ng-click="vm.displayState('upload.3')" class="btn btn-danger btn-lg">Continue</a>
          <a class="btn btn-warning" data-ng-show="vm.appSvc.continuable" data-ng-click="vm.displayState('upload.1')">Start Over</a>
        </div>
      </div>
    </div>




    <!-- 3. Share (upload) -->
    <div class="intro abs" data-ng-if="vm.appSvc.displayState == 'upload.3'">
      <div class="interface">
        <div>
          <h2>3. Share
            <small>with your BFF</small>
          </h2>
          <div class="social-shares">
            <facebook-share gif="vm.appSvc.gif"></facebook-share>
            <twitter-share gif="vm.appSvc.gif"></twitter-share>
            <pinterest-share gif="vm.appSvc.gif"></pinterest-share>
            <tumblr-share gif="vm.appSvc.gif"></tumblr-share>
            <link-share gif="vm.appSvc.gif"></link-share>
          </div>
          <br class="hidden-xs">
          <br >
          <a class="btn btn-warning" data-ng-click="vm.displayState('upload.1')">Start Over</a>
        </div>
      </div>
    </div>




    <!-- 1. Choose your overlay (video) -->
    <div class="intro abs" data-ng-if="vm.appSvc.displayState == 'video.1'">
      <div class="interface">
        <div>
          <h2>1. Select
            <small>your filter</small>
          </h2>
          <div class="overlays">
            <a data-ng-click="vm.overlay(1)">
              <img src="/images/1-btn.png" />
              <span class="hidden-xs">Put a bow on it</span>
            </a>
            <a data-ng-click="vm.overlay(2)">
              <img src="/images/2-btn.png" />
              <span class="hidden-xs">Elfie</span>
            </a>
            <a data-ng-click="vm.overlay(3)">
              <img src="/images/3-btn.png" />
              <span class="hidden-xs">Lump of Coal</span>
            </a>
            <a data-ng-click="vm.overlay(4)">
              <img src="/images/4-btn.png" />
              <span class="hidden-xs">Shiny red nose</span>
            </a>
            <a data-ng-click="vm.overlay(5)">
              <img src="/images/5-btn.png" />
              <span class="hidden-xs">Snowball battle scars</span>
            </a>
          </div>
          <a data-ng-show="vm.appSvc.continuable" data-ng-click="vm.displayState('video.2')" class="btn btn-danger btn-lg">Continue</a>
        </div>
      </div>
    </div>



    <!-- 2. Position self (video) -->
    <div class="intro abs" data-ng-if="vm.appSvc.displayState == 'video.2'">
      <div class="interface">
        <div>
          <h2>2. Snap
            <small>(you look great)</small>
          </h2>
          <a class="btn btn-danger btn-lg" data-capture-video=''>Take a picture</a>
          <a class="btn btn-warning" data-ng-click="vm.displayState('video.1')">Start Over</a>
        </div>
      </div>
    </div>



    <!-- 3. Share (video) -->
    <div class="intro abs" data-ng-if="vm.appSvc.displayState == 'video.3'">
      <div class="interface">
        <div>
          <h2>3. Share
            <small>with your BFF</small>
          </h2>
          <div class="social-shares">
            <facebook-share gif="vm.appSvc.gif"></facebook-share>
            <twitter-share gif="vm.appSvc.gif"></twitter-share>
            <pinterest-share gif="vm.appSvc.gif"></pinterest-share>
            <tumblr-share gif="vm.appSvc.gif"></tumblr-share>
            <link-share gif="vm.appSvc.gif"></link-share>
          </div>
          <br class="hidden-xs">
          <br >
          <a class="btn btn-warning" data-ng-click="vm.displayState('video.1')">Start Over</a>
        </div>
      </div>
    </div>





  </div><!-- End row.rel -->

<br>
<br>
<br>

</article>
<div class="loading" data-ng-if="vm.appSvc.loading"><img src='/images/spin.svg' alt="loading icon" /></div>
