<article class="{{vm.class}}">
  <div class="row rel">
    <div class="camera">
      <div class="blocker">

        <canvas>
          <!-- Temp storage for our image -->
        </canvas>

        <video id="video">Video stream not available.</video>

        <blockquote>
          <img data-ng-show="vm.previewing" data-ng-src="{{vm.src}}" />
        </blockquote>

      </div>
    </div>

    <div class="overlay" data-ng-if="vm.overlay == 1">
      <img src="/images/1.gif" />
    </div>
    <div class="overlay" data-ng-if="vm.overlay == 2">
      <img src="/images/2.gif" />
    </div>
    <div class="overlay" data-ng-if="vm.overlay == 3">
      <img src="/images/3.gif" />
    </div>
    <div class="overlay" data-ng-if="vm.overlay == 4">
      <img src="/images/4.gif" />
    </div>
    <div class="overlay" data-ng-if="vm.overlay == 5">
      <img src="/images/5.gif" />
    </div>
    <div class="error abs" data-ng-if="vm.error">
      <div>
        <div><h2>Could not access camera.</h2> <h3>Please allow access or <a class='btn btn-default' data-ng-click='vm.activate("upload")'>upload an existing photo</a>.</h3></div>
        <a data-ng-click="vm.dismiss()" class="close">X</a>
      </div>
    </div>
    <!-- End .error.abs -->
    <div class="intro abs" data-ng-if="vm.intro">
      <div>
        <h2>1. Snap a picture (you look great) 2. Select your holiday filter 3. Send it to your BFF</h2>
        <a class="btn btn-primary" data-ng-click="vm.snap()">Take picture</a>
        <a data-ng-click="vm.dismiss()" class="close">X</a>
      </div>
    </div>
    <!-- End .error.abs -->
  </div>

  <div class='row interface rel'>
    <div class="col-sm-6">
      <div class="controls" data-ng-if="vm.showing === 'video'">
        <button class='btn btn-warning' data-ng-click="vm.snap()">Take photo</button>
        <a class="btn btn-success" data-ng-click="vm.reset()">Reset</a>
      </div>
      <div class="controls" data-ng-if="vm.showing === 'upload'">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="file" name="file">
        <p class="help-block">Example block-level help text here.</p>

      </div>
      <div class="social-shares" data-ng-if="vm.src">
        <facebook-share gif="vm.gif"></facebook-share>
        <twitter-share gif="vm.gif"></twitter-share>
        <tumblr-share gif="vm.gif"></tumblr-share>
        <pinterest-share gif="vm.gif"></pinterest-share>
        <a data-ng-href="/me/2_35322c7c-3b70-40e5-83ee-f0a7605af128.png" target="_blank">link</a>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 overlays">

      <a data-ng-click="vm.overlay = 1">
        <img src="/images/1.gif" />
      </a>
      <a data-ng-click="vm.overlay = 2">
        <img src="/images/2.gif" />
      </a>
      <a data-ng-click="vm.overlay = 3">
        <img src="/images/3.gif" />
      </a>
      <a data-ng-click="vm.overlay = 4">
        <img src="/images/4.gif" />
      </a>
      <a data-ng-click="vm.overlay = 5">
        <img src="/images/5.gif" />
      </a>

    </div>

  </div>
</article>
