<article class="{{vm.class}}">
  <div class="row rel">
    <div class="camera">
      <div class="blocker">

        <canvas>
          <!-- Temp storage for our image -->
        </canvas>

        <video id="video">Video stream not available.</video>

        <blockquote>
          <img data-ng-show="vm.src" data-ng-src="{{vm.src}}" />
        </blockquote>

      </div>
    </div>

    <div class="overlay" data-ng-if="vm.overlay == 'internet'"><img src="/images/internet.gif" /></div>
    <div class="overlay" data-ng-if="vm.overlay == 'wow'"><img src="/images/giphy.gif" /></div>
  </div>

  <div class='row interface'>
    <button class='btn btn-warning'>Take photo</button>
    <a data-ng-click="vm.overlay = 'internet'">
      <img src="/images/internet.gif" />
    </a>
    <a data-ng-click="vm.overlay = 'wow'">
      <img src="/images/giphy.gif" />
    </a>
    <a class="btn btn-success" data-ng-click="vm.reset()">Reset</a>
  </div>
</article>
