<article class="{{vm.class}}">
  <div class="row rel">
    <div class="camera">
      <div class="blocker">

        <canvas>
          <!-- Temp storage for our image -->
        </canvas>

        <video id="video">Video stream not available.</video>

        <blockquote >
          <img data-ng-show="vm.previewing" data-ng-src="{{vm.src}}" />
        </blockquote>

      </div>
    </div>

    <div class="overlay" data-ng-if="vm.overlay == 1"><img src="/images/1.gif" /></div>
    <div class="overlay" data-ng-if="vm.overlay == 2"><img src="/images/2.gif" /></div>
    <div class="overlay" data-ng-if="vm.overlay == 3"><img src="/images/3.gif" /></div>
    <div class="overlay" data-ng-if="vm.overlay == 4"><img src="/images/4.gif" /></div>
    <div class="overlay" data-ng-if="vm.overlay == 5"><img src="/images/5.gif" /></div>
    <div class="error abs" data-ng-if="vm.error">
      <div>
        <div data-ng-bind-html="vm.message">Your error here</div>
        <a data-ng-click="vm.dismiss()" class="close">X</a>
      </div>
    </div><!-- End .error.abs -->
    <div class="intro abs" data-ng-if="vm.intro">
      <div>
        <h2>Step 1: Snap a photo of yourself. Then apply a GIF. Finally share your creation.</h2>
        <a class="btn btn-primary" data-ng-click="vm.snap()">Take picture</a>
        <a data-ng-click="vm.dismiss()" class="close">X</a>
      </div>
    </div><!-- End .error.abs -->
  </div>

  <div class='row interface'>
    <button class='btn btn-warning' data-ng-click="vm.snap()">Take photo</button>
    <a data-ng-click="vm.overlay = 1">
      <img src="/images/1.gif" />
    </a>
    <a data-ng-click="vm.overlay = 2">
      <img src="/images/2.gif" />
    </a>
    <a data-ng-click="vm.overlay = 3">
      <img src="/images/3.gif" />
    </a>
    <a data-ng-click="vm.overlay = 4">
      <img src="/images/4.gif" />
    </a>
    <a data-ng-click="vm.overlay = 5">
      <img src="/images/5.gif" />
    </a>
    <a class="btn btn-success" data-ng-click="vm.reset()">Reset</a>
  </div>
</article>
